Repository gardener/gardener-extension-os-coreos, pull requests merged in 2025-02, with the labels that each got.

#161 Add `11-exec_config.conf` to gardener-node-agent reconcile
  pkg/controller/operatingsystemconfig/actuator.go
  pkg/controller/operatingsystemconfig/actuator_test.go
  pkg/controller/operatingsystemconfig/templates/11-exec_config.conf
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s, area/os

#166 Ensure that the provision OSC script runs only once
  pkg/controller/operatingsystemconfig/actuator.go
  pkg/controller/operatingsystemconfig/actuator_test.go
Labels: kind/bug, needs/ok-to-test, needs/review, reviewed/lgtm, size/xs, area/os

#168 Update repository in Helm-Chart to point to Google Artefact Registry (GAR)
  charts/gardener-extension-os-coreos/values.yaml
  example/controller-registration.yaml
Labels: kind/technical-debt, needs/ok-to-test, reviewed/lgtm, size/xs, area/os
